{% extends "base.html" %}
{% block title %}
<title>Welcome</title>
{% endblock %}

{% block content %}
    <p>
        <button type="button" class="btn btn-default">
            <span class="glyphicon glyphicon-sort-by-attributes"></span>
        </button>
        <button type="button" class="btn btn-default">
            <span class="glyphicon glyphicon-sort-by-attributes-alt"></span>
        </button>
        <button type="button" class="btn btn-default">
            <span class="glyphicon glyphicon-sort-by-order"></span>
        </button>
        <button type="button" class="btn btn-default">
            <span class="glyphicon glyphicon-sort-by-order-alt"></span>
        </button>
    </p>
    <button type="button" class="btn btn-default btn-lg">
        <span class="glyphicon glyphicon-user"></span> User
    </button>
    <button type="button" class="btn btn-default btn-sm">
        <span class="glyphicon glyphicon-user"></span> User
    </button>
    <button type="button" class="btn btn-default btn-xs">
        <span class="glyphicon glyphicon-user"></span> User
    </button>
{% endblock %}